/*En un principio no modifiqué nada en la sección de nav, pero al acabar me di cuenta de que si le daba
alineación centrada todo quedaba mejor al verso en la página. Es verdad que yo tengo un monitor ultrawide
y al acabar las pruebas no lo he probado en los monitores de clase. Le di un poco de margen superior para
obtener distancia con la parte superior del navegador*/

nav {
    margin-top: 100px;
    text-align: center;
}

/*Le indico que el display debe de ser display inline block, para que todo lo que se encuentre en su interior se
ordene en forma de distintos bloques dentro de una linea y así poder darle también valores de width y heigth si fuese
necesario. Los valores de margin fue para ir probando el centrado, para ganar un poco más de distancia con la 
parte superior del navegador y para espaciar un elemento del siguiente, ya que si no quedaban demasiado juntos*/

.contenedor{
    display:inline-block;
    margin-top:25px;
    margin-left:50px;
}

/*Esta sección de el párrafo con el número me dio bastante trabajo ya que no me quedaba como tenia que quedar
Al final, jugando con el alto y el ancho pude conseguir con border-radius que quedase un círculo.
Le di color de fondo y alinee el texto al centro. Para que se solapase con el icono use la propiedad position y con
el margin top se quedó en una posicion parecida a la del ejemplo. Con la opácity le di un pequeño valor de transparencia
cambie el color del tipo de letra el peso a negrita y jugando con el tamaño quedó más o menos como creo que debía de ser
Con el previsulizador de microsoft de visual studio el tamaño correcto era 150% pero no se veia bien en mi navegador.
Jugúe con el hasta que quedaba bien en mi monitor*/

.contenedor p{
    width: 30px;
    height: 30px;
    border-radius: 75%;
    background-color: red;
    text-align: center;
    position: absolute;
    margin-top: 1px;
    opacity:0.8;
    color:white;
    font-weight: bold;
    font-size: 125%;
    /*Depues de mostrar la página como tenía tiempo decidi enredar con algunas opciones. Las que están debajo del este
    comentario son las que he añadido después de replicar más o menos la página*/

    /*Enconté el efecto de sombra para una caja y probé el efecto en los cirulos con números. Los dos primeros numeros
    negativos son la posición horizontal y la vertical. El siguiente es el efecto de desenfoque y el ultimo el spread de
    la sombra. Luego el color*/
    box-shadow: -3px -3px 10px 2px darkred;
}

/*Una vez el párrafo con el número quedó bien, darle forma al fondo del icono fué más fácil ya que tenía más o menos 
claro como tenia que hacerlo y no hubo que cambiar muchas cosas*/

.fondoIcono {
    width: 120px;
    height: 120px;
    border-radius:50%;
    text-align:center;
    background-color: rgb(236, 232, 232);

    /*Una vez acabado aquí también hago pruebas para ver como quedan cosas como la sombra*/
    box-shadow: 5px 5px 10px 2px darkgrey
    
}


/*Aquí tuve algún problema más ya que la opcion de vertical allign: middle no me ajustaba bien el icono. Asi que fui
jugando con la propiedad del padding. El max-width y max-height lo puse para que si se veía en un monitor u otro se viese
de la misma forma*/

.fondoIcono > img {
   padding:25px;
   max-width: fit-content;
   max-height: fit-content;
}



/*Con el bloqueTexto lo centré como el de los iconos para que quedase todo centrado en la pantalla y en display le di el 
valor de inline para que todo lo que estuviese dentro de este contenedor funcionase como una sola linea*/

.bloqueTexto {
    display: inline;
    text-align: center;
}


/*Aquí fui siguiendo lo que ya había hecho en secciones anteriores y le di un margen para que se separase un poco del margen
izquierdo y para separar los párrafos unos de otros*/
.parrafos {
    margin-left:50px;
}

/*El display inline-block es para que cada párrafo sea un bloque pero todos se agrupen en una linea y para poder
darles un valor de ancho, que sería el mismo valor que ya le había dado al background de los iconos.
el valor height es para que los párrafos tengan suficiente espacio en el que entrar
Con el tamaño de la fuente fuí jugando hasta que encontré el que yo quería más o menos partiendo del tamaño estandar que 
le da el código html.
Lo alineé a la izquierda porque es como creo que aparece en el ejemplo.
Les dí un padding para separarlos un poco de los iconos
En este caso el vertical-align si me fue bien ya que si no los parrafos más cortos quedaban centrados verticalmente y 
no comenzaban justo debajo de los iconos*/
.parrafos p{
    display: inline-block;
    width:120px;
    height:300px;
    font-size: 60%;
    text-align: left;
    padding:25px;
    vertical-align: text-top;
}